<launch>

  <rosparam command="load" file="$(find std_detector)/config/config_megaparticle_outdoor.yaml" />
  <param name="descriptor_file_path"         type="string" value = "/home/dat/data/std_reloc/megaparticle/saved_descriptors_outdoor_kidnap/"/>
  <node pkg="std_detector"
        type="relocalization_ntu_online"
        name="relocalization_ntu"
        output="screen">

    <remap from="/relocalization_pose" to="/seed_pose"/>
  </node>

</launch>