<launch>

  <rosparam command="load" file="$(find std_detector)/config/config_ntu.yaml" />
  <param name="descriptor_file_path"         type="string" value = "/home/dat/data/std_reloc/priormap/saved_descriptors_ntu_day_01/"/>
  <node pkg="std_detector"
        type="relocalization_ntu_online"
        name="relocalization_ntu"
        output="screen">
        
    <remap from="/relocalization_pose" to="/seed_pose"/>
  </node>


</launch>